<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FoodData Central</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <style>
        
        .nav-link:hover{
            color: rgb(69, 41, 145) !important;
        }

    </style>
    <body style="background-color: #d9e7f3;">

        <br>
<div class="container" style="width: 70%;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 100%;">
                <img style="width:auto; height:70vh" class="card-img-top img-rounded img-responsive" src="/js/Akshara.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Akshara</h5>
                    <p class="card-text">
                        The main idea of Food Nutrient Information project and initial research of finding relevant datasets was handled by Akshara.
                        She Worked on Creating the HTMl pages.
                    </p>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 100%;">
                <img style="width:auto; height:70vh" class="card-img-top img-rounded img-responsive" src="/js/Lavanya.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lavanya</h5>
                    <p class="card-text">
                        Lavanya contribution to the project is integrating the data into the HTML pages and database designing for the project.
                    </p>
                   
                </div>
            </div>
        </div>
        
    </div>
    <br>
     <div style="text-align: center;">
         
        
         To acquire all of the food and nutrient information, we used the API get method.
         Link to the details of the API is 
    <a href="https://fdc.nal.usda.gov/api-guide.html">API Information</a>

    </div>
    <br />
    <br />
    
   <div class="col-sm-8">
       <p style="text-align: center;">Database Design</p>
            <div class="card" style="width: 100%;">
                
                <img style="width:auto; height:70vh" class="card-img-top img-rounded img-responsive" src="/js/db_design2.png" alt="Card image cap">
                
            </div>
        </div>
        <br />
        <br />
</div>


</body>
</html>