<body style="background-color:#9cff0721;">

	<div class="container-fluid" font-family: cursive;">
		<div class="row" >
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-12">
				<br />
				<h3 align="center" >Welcome to Food Nutrient Information Portal!!</h3>
				<br />
				<p class="lead text-center" style="width: 50%;
				position: relative;
				left: 26%;">
				
					Nutrition Food alwways plays a key role in healthy life style.Good nutrition means your body gets all the nutrients, vitamins, and minerals it needs to work its best. Plan your meals and snacks to include nutrient-dense foods that are also low in calories.Want to know more about all the nutrition information?
			

				</p>
			</div>
	<div align="center">@Html.ActionLink("Food Details", "Food", "Home")</div>
		</div>
	</div>
</body>
