
@model ICollection<DataGov_API_Intro_6.Models.Food>


@{ ViewData["Title"] = "Nutrients"; }

<body style="background-color:#9cff0721">

<h2>Index</h2>

<p>Add Food</p>

@foreach (DataGov_API_Intro_6.Models.Food food in Model)
{
    @(food.foodCode + " "+ food.description) @Html.ActionLink("nutrient details", "FoodNutrients", "Home", new { fdcId = food.fdcId } ) <br />
    <p>Edit</p>
    <p>Delete</p>

}
</body>
